body {
    background-color: aqua;
}

p {
    color: black;
}

h1 {
    font-size: 32px;
    text-align: center;
}

.caixa-estilizada {
    background-color: white;     
    border-radius: 10px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;      
}